

*{
    transition: ease-in-out 5s;
    animation-name: scrol;
    animation-duration: 5s;
}

@keyframes scrol {
    from{
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 100;
        transform: translateY(-0.1%);
    }
}